
<section>
  <div class="service"> 
    <div class="container">
      <div class="row center-xs center-lg">
        <div class="col-xs-12 col-lg-4">
          <div class="service_img"></div>
          <h2 class="service__titre">Service clé en main</h2>
          <p class="service__text"> On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.</p>
          <p class="service__text service__text--isblue">De nombreuses heures de gestion gagnées</p>
        </div>
        <div class="col-xs-12 col-lg-4"> 
          <div class="service__img"></div>
          <h2 class="service__titre">2 offres de revenu </h2>
          <p class="service__text">Commission à partir de 15% ou revenu garanti sur toute la durée de location : à vous de choisir !</p>
          <p class="service__text service__text--isblue">30% de revenu en plus en moyenne qu'une Airbnb</p>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="service__img"></div>
          <h2 class="service__titre"> Flexibilité maximale</h2>
          <p class="service__text"> À partir de 2 nuits d'absence, nous prenons en charge tout type de logement, que vous soyez locataire ou propriétaire</p>
          <p class="service__text service__text--isblue">Gagnez de l'argent, même sur un week-end</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="action">
  <div class="action__background">
    <div class="container">
      <div class="row end-lg start-xs">
        <div class="col-lg-12">
          <h2 class="action__title action__title--bigtitle">Notre conciergerie s’occupe de tout</h2>
          <p class="action__text"> La gestion de votre location saisonnière clé en main :</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <div class="action__img"></div>
          <h3 class="action__title">Création et optimisation de votre annonce Airbnb</h3>
        </div>
        <div class="col-lg-2">
          <div class="action__img"></div>
          <h3 class="action__title">Remises des clés</h3>
        </div>
        <div class="col-lg-2">
          <div class="action__img"></div>
          <h3 class="action__title">Draps et linge de maison fournis</h3>
        </div>
        <div class="col-lg-2">
          <div class="action__img"></div>
          <h3 class="action__title">Sélection des voyageurs et assistance 7j/7</h3>
        </div>
        <div class="col-lg-2">
          <div class="action__img"></div>
          <h3 class="action__title">Création et optimisation de votre annonce Airbnb</h3>
        </div>
        <div class="col-lg-2">
          <div class="action__img"></div>
          <h3 class="action__title">Ménage complet et maintenance</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="stats">
  <h3 class="stats__maintitle">HostnFly, 1er service de conciergerie Airbnb en France</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-4 stats__item"> 
        <p class="stats__number stats__number--colorispurple">2 000</p>
        <h4 class="stats__title">Appartements en gestion </h4>
      </div>
      <div class="col-xs-12 col-lg-4 stats__item"> 
        <p class="stats__number stats__number--colorispurple">70 000</p>
        <h4 class="stats__title">Voyageurs accueillis</h4>
      </div>
      <div class="col-xs-12 col-lg-4 stats__item"> 
        <p class="stats__number stats__number--colorispurple">10M€</p>
        <h4 class="stats__title">De revenus gagnés par nos clients</h4>
      </div>
    </div>
  </div>
</section>
<section class="faq"> 
  <h1 class="faq__maintitle">Confier son logement n’est pas anodin, c’est normal d’avoir des questions :</h1>
  <div class="container"> 
    <div class="row"> 
      <div class="col-xs-12 col-lg-6">
        <p class="faq__text">Quels sont les tarif?</p><i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p class="faq__text">Quel est la legsilation de airbnb en france ?</p><i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p class="faq__text">Comment calculer vos revenus ?</p><i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p class="faq__text">Sélectionnez -vous les voyageurs ?</p><i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p class="faq__text">Comment se passe la gestion des clés ?</p><i class="material-icons">keyboard_arrow_down</i>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p class="faq__text">Est-ce que je suis couvert par des assurances ?</p><i class="material-icons">keyboard_arrow_down</i>
      </div>
    </div>
  </div>
</section>