section
  .service  
    .container
      .row.center-xs.center-lg
        .col-xs-12.col-lg-4
          .service_img
          h2.service__titre Service clé en main
          p.service__text  On s'occupe de tout : prise de photo, création de l'annonce, sélection des voyageurs, ménage, remise des clés, etc.
          p.service__text.service__text--isblue De nombreuses heures de gestion gagnées
        .col-xs-12.col-lg-4 
          .service__img
          h2.service__titre 2 offres de revenu 
          p.service__text Commission à partir de 15% ou revenu garanti sur toute la durée de location : à vous de choisir !
          p.service__text.service__text--isblue 30% de revenu en plus en moyenne qu'une Airbnb
        .col-xs-12.col-lg-4
          .service__img
          h2.service__titre  Flexibilité maximale
          p.service__text  À partir de 2 nuits d'absence, nous prenons en charge tout type de logement, que vous soyez locataire ou propriétaire
          p.service__text.service__text--isblue Gagnez de l'argent, même sur un week-end
section.action
  .action__background
    .container
      .row.end-lg.start-xs
        .col-lg-12
          h2.action__title.action__title--bigtitle Notre conciergerie s’occupe de tout
          p.action__text  La gestion de votre location saisonnière clé en main :
      .row
        .col-lg-2
          .action__img
          h3.action__title Création et optimisation de votre annonce Airbnb
        .col-lg-2
          .action__img
          h3.action__title Remises des clés
        .col-lg-2
          .action__img
          h3.action__title Draps et linge de maison fournis
        .col-lg-2
          .action__img
          h3.action__title Sélection des voyageurs et assistance 7j/7
        .col-lg-2
          .action__img
          h3.action__title Création et optimisation de votre annonce Airbnb
        .col-lg-2
          .action__img
          h3.action__title Ménage complet et maintenance
section.stats
  h3.stats__maintitle HostnFly, 1er service de conciergerie Airbnb en France
  .container
    .row
      .col-xs-12.col-lg-4.stats__item 
        p.stats__number.stats__number--colorispurple 2 000
        h4.stats__title Appartements en gestion 
      .col-xs-12.col-lg-4.stats__item 
        p.stats__number.stats__number--colorispurple 70 000
        h4.stats__title Voyageurs accueillis
      .col-xs-12.col-lg-4.stats__item 
        p.stats__number.stats__number--colorispurple 10M€
        h4.stats__title De revenus gagnés par nos clients
section.faq 
  h1.faq__maintitle Confier son logement n’est pas anodin, c’est normal d’avoir des questions :
  .container 
    .row 
      .col-xs-12.col-lg-6
        p.faq__text Quels sont les tarif?
        i.material-icons keyboard_arrow_down
      .col-xs-12.col-lg-6
        p.faq__text Quel est la legsilation de airbnb en france ?
        i.material-icons keyboard_arrow_down
      .col-xs-12.col-lg-6
        p.faq__text Comment calculer vos revenus ?
        i.material-icons keyboard_arrow_down
      .col-xs-12.col-lg-6
        p.faq__text Sélectionnez -vous les voyageurs ?
        i.material-icons keyboard_arrow_down
      .col-xs-12.col-lg-6
        p.faq__text Comment se passe la gestion des clés ?
        i.material-icons keyboard_arrow_down
      .col-xs-12.col-lg-6
        p.faq__text Est-ce que je suis couvert par des assurances ?
        i.material-icons keyboard_arrow_down
        
section.customer 
  .container 
    .row
      .col-xs-12
        .row.middle-xs.between-xs
          .col-md-offset-1.col-md-4.col-lg-12
            h3.Customer__title Ils nous ont confié la gestion de leur location :
            a.Customer__title--bright Voir tous les avis utilisateurs
          


        